.title {
  text-align: start;
  margin: 0px 0 10px 13px;
  color: var(--highlight-color);
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 4px;
}

.grid_container > .individual_grid {
  border-radius: 6px;
  border: 0.5px solid transparent;
  transition: 1.7s;
  background-color: transparent;
  padding: 10px 10px 10px;
}

.individual_grid:hover {
  background-color: var(--secondary-color);
}

.card_title {
  margin-bottom: 10px;
  color: var(--highlight-color);
}

.credentials {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 3px;
}

@media only screen and (max-width: 600px) {
  .grid_container {
    gap: 0px 80px;
  }

  .grid_container {
    grid-template-columns: 1fr 1fr;
  }
  
}
